<footer class="footer">
  <small>
    <%= t("the") %>
    <%= link_to t("Ruby on Rails Tutorial"), "https://www.railstutorial.org/"%>
    <%= t("by") %>
    <%= link_to t("Michael Hartl"),"http://www.michaelhartl.com/"%>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("contact"), "#" %></li>
      <li><%= link_to t("new"),"http://news.railstutorial.org/"%></li>
    </ul>
  </nav>
</footer>
